# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: ansalpandey
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: project-x
# "service" is the name of this project. This will also be added to your AWS resource names.
service: project-x

frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  stage: dev
  region: ap-south-1

functions:
  api:
    handler: index.handler
    events:
      - httpApi: "*"
